@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.8);
}
.dark ::-webkit-scrollbar-thumb {
   background-color: rgba(100, 116, 139, 0.7);
}
 .dark ::-webkit-scrollbar-thumb:hover {
   background-color: rgba(100, 116, 139, 1);
}